node_modules
.env

# Local Netlify folder
.netlify

# Build output
public/scripts/*.js
public/scripts/*.js.map
public/scripts/*.css
public/scripts/*.css.map
public/scripts/*.html
public/scripts/*.LICENSE.txt

# Scratch/experiment files
ron.html
ron.css
creo.html
creo-dashboard.html
creo-dashboard-v2.html
blend-mode-text.html
lightdark.html
punch-through.html
ultraheader.css
ultraheader.html
wave-text.html
src/components/MegaMenuSanity_newer_broke.js
src/styles/_megamenubox_newer_broken.scss
src/styles/_edit-page_old.scss
public/edit_old.html
public/partials/header-template-old-v2.html
src/partials/header-template-old-v2.html
src/edit_page_bento_full.htmlwhimsy-css/
netlify/functions/seed-*.js
whimsy-css/
