label.article-checklist-items :is(input) {
    /* display: inline-block; */
    width: 0.88rem;
    aspect-ratio: 1 / 1;
    padding: 6px;
    display: inline-block;
}

.checklist input {
    /* height: 1rem; */
    /* padding: 0 1em; */
    /* font-size: 1rem; */
    /* margin-right: 1em; */
    /* margin-bottom: 0; */
}

.recipe-page .article-checklist-items {
    /* display: inline; */
    align-items: baseline;
    gap: 8px;
    line-height: 1.25;
}

label.article-checklist-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    box-sizing: border-box;
    padding: 0 0 0 0;
    line-height: 1.9rem;
    font-size: 1rem;
}
.shopping-list li {
      width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    box-sizing: border-box;
    padding: 0 0 0 0;
    line-height: 1.9rem;
    font-size: 1rem;
}
.shopping-list li {
    line-height: 1.9;
    padding: 0 0 0 0;
    display: list-item;
    list-style: square;
    margin-left: 1.25rem;
}

.recipe-page .article-checklist-items {
    /* display: inline; */
    align-items: baseline;
    gap: 8px;
    line-height: 1.25;
}

label.article-checklist-items {
    display: grid;
    grid-template-columns: 20px 1fr;
}
.checklist:last-of-type {
    margin: 0 0 1em 0;
    list-style: none;
}
.checklist, .shopping-list {
    font-size: 1.9rem;
    line-height: 1.9;
}
.checklist li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
}